<div class="editor-row">
  <div class="section gf-form-group">
    <h5 class="section-heading">Data</h5>
    <div class="gf-form">
      <label class="gf-form-label width-12">Metric</label>
      <div class="gf-form-select-wrapper max-width-15">
        <select
          class="gf-form-input"
          ng-model="ctrl.panel.detangle.metric"
          ng-options="item.value as item.text for item in ctrl.couplingMetrics"
          ng-change="ctrl.refresh()"
        >
        </select>
      </div>
    </div>
    <gf-form-switch
      class="gf-form"
      label="Diamond Pattern"
      label-class="width-12"
      checked="ctrl.panel.detangle.diamondPattern"
      on-change="ctrl.refresh()"
    >
    </gf-form-switch>
    <div class="gf-form" ng-show="ctrl.panel.metric === 'cohesion'">
      <label class="gf-form-label width-12">Cohesion Method</label>
      <div class="gf-form-select-wrapper max-width-15">
        <select
          class="gf-form-input"
          ng-model="ctrl.panel.detangle.cohesionCalculationMethod"
          ng-options="item.value as item.text for item in ctrl.cohesionCalculationMethods"
          ng-change="ctrl.refresh()"
        >
        </select>
      </div>
    </div>
    <div class="gf-form">
      <label class="gf-form-label width-12">Target</label>
      <div class="gf-form-select-wrapper max-width-15">
        <select
          class="gf-form-input"
          ng-model="ctrl.panel.detangle.target"
          ng-options="item.value as item.text for item in ctrl.targetSelections"
          ng-change="ctrl.refresh()"
        >
        </select>
      </div>
    </div>
    <gf-form-switch
      class="gf-form"
      label="Additional Metric"
      label-class="width-12"
      checked="ctrl.panel.detangle.additionalMetric"
      on-change="ctrl.refresh()"
    >
    </gf-form-switch>
    <div class="gf-form">
      <label class="gf-form-label width-12">Limit</label>
      <input
        type="number"
        class="gf-form-input max-width-8"
        ng-model="ctrl.panel.detangle.limit"
        placeholder="unlimited"
        ng-change="ctrl.refresh()"
        ng-model-onblur
        bs-tooltip="'Number of Issues on the graph'"
        data-placement="right"
      />
    </div>
    <gf-form-switch
      class="gf-form"
      label="Issue/File-Pair Cond."
      label-class="width-12"
      tooltip="Evaluate the ratio of different vs. common file/issue connections of issue/file-pairs"
      checked="ctrl.panel.detangle.applyDifferentCommonCondition"
      on-change="ctrl.refresh()"
    >
    </gf-form-switch>
    <div class="gf-form" ng-if="ctrl.panel.detangle.applyDifferentCommonCondition">
      <label class="gf-form-label width-12">Threshold Dif. vs Common</label>
      <input
        type="number"
        class="gf-form-input max-width-8"
        ng-model="ctrl.panel.detangle.differentCommonConditionThreshold"
        placeholder="0.75"
        ng-change="ctrl.refresh()"
        ng-model-onblur
        data-placement="right"
      />
    </div>
  </div>
  <div class="section gf-form-group">
    <h5 class="section-heading">Filter</h5>
    <div class="gf-form">
      <label class="gf-form-label width-12">Data Percentage</label>
      <input
        type="number"
        class="gf-form-input max-width-8"
        ng-model="ctrl.panel.detangle.couplingPercentage"
        placeholder="unlimited"
        ng-change="ctrl.refresh()"
        ng-model-onblur
        bs-tooltip="'Percentage of data to show'"
        data-placement="right"
      />
    </div>
    <div class="gf-form">
      <label class="gf-form-label width-12"
        >{{ctrl.panel.detangle.isAuthorDashboard ? 'Committer Source Set' : 'Source Type'}}</label
      >
      <input
        type="text"
        class="gf-form-input max-width-8"
        ng-model="ctrl.panel.detangle.sourceType"
        ng-change="ctrl.refresh()"
        ng-model-onblur
      />
    </div>
    <div class="gf-form">
      <label class="gf-form-label width-12"
        >{{ctrl.panel.detangle.isAuthorDashboard ? 'Committer Target Set' : 'Target Type'}}</label
      >
      <input
        type="text"
        class="gf-form-input max-width-8"
        ng-model="ctrl.panel.detangle.targetType"
        ng-change="ctrl.refresh()"
        ng-model-onblur
      />
    </div>
    <div class="gf-form">
      <label class="gf-form-label width-12">Threshold</label>
      <input
        type="number"
        class="gf-form-input max-width-8"
        ng-model="ctrl.panel.detangle.threshold"
        ng-change="ctrl.refresh()"
        ng-model-onblur
      />
    </div>
    <gf-form-switch
      class="gf-form"
      label="Folder Level"
      label-class="width-12"
      checked="ctrl.panel.detangle.applyFolderLevel"
      on-change="ctrl.refresh()"
    >
    </gf-form-switch>
  </div>
</div>
