<style type="text/css">
  .chordtooltip {
    color: white;
    opacity: 0.9;
    background: #333;
    padding: 5px;
    border: 1px solid lightgrey;
    border-radius: 5px;
    position: absolute;
    z-index: 10;
    visibility: hidden;
    white-space: nowrap;
    pointer-events: none;
  }
  #circle circle {
    fill: none;
    pointer-events: all;
  }
  path.group {
    fill-opacity: 0.8;
  }
  path.chord {
    fill-opacity: 0.8;
    stroke: #000;
    stroke-width: 0.25px;
  }
  #circle:hover path.fade {
    display: none;
  }

  .networkchart-panel {
    cursor: move;
  }

  .nodes circle,
  .nodes rect {
    cursor: pointer;
  }

  .no-data {
    display: none;
  }

  .next-to-captions {
    position: absolute;
    right: 10px;
  }

  /*div.tooltip {*/
  /*position: absolute;*/
  /*text-align: center;*/
  /*width: 60px;*/
  /*height: 28px;*/
  /*padding: 2px;*/
  /*font: 12px sans-serif;*/
  /*background: lightsteelblue;*/
  /*border: 0px;*/
  /*border-radius: 8px;*/
  /*pointer-events: none;*/
  /*color: black;*/
  /*}*/

  .caption-holder {
    position: absolute;
    width: 300px;
    height: 95%;
    overflow: auto;
    direction: rtl;
  }

  .caption {
    position: absolute;
    width: 280px;
    border: 1px solid;
    border-radius: 15px;
    direction: ltr;
  }

  .full_width_height {
    width: 100%;
    height: 100%;
  }
</style>

<script src="/public/plugins/grafana-chord-panel/vendor/d3.js"></script>
<script src="/public/plugins/grafana-chord-panel/vendor/d3-scale-chromatic.min.js"></script>

<div class="graph-wrapper">
  <div class="chordtooltip" id="chordtooltip-{{ctrl.panel.id}}"></div>

  <!--<div class="caption-holder">-->
  <!--<svg class="caption" ></svg>-->
  <!--</div>-->

  <div class="next-to-captions gf-form">
    <input
      class="gf-form-input max-width-12 highlight"
      bs-tooltip="'Find in the iris and highlight them.'"
      data-placement="bottom"
      placeholder="Highlight"
      ng-model="ctrl.highlight_text"
      ng-model-options="{debounce: 750}"
      ng-change="ctrl.highlight()"
    />
  </div>
  <div
    id="chordgraph-{{ctrl.panel.id}}"
    style="display: flex; align-items: center; justify-content: center;"
    class="grafana-d3-chord full_width_height"
  ></div>
  <!--<svg class="networkchart-panel full_width_height">-->
  <!--<text class="no-data" x="15" y="15" fill="red">No data points</text>-->
  <!--</svg>-->
</div>
<div class="clearfix"></div>
